<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movimientos feministas</title>
    <link rel="stylesheet" href="css/estilos1.css">
</head>


<body>
    <header>
        <h1>Pruebas escolares de HTML
            <i>Nancy Gonzalez Alvarez</i></h1>

        <nav>
            <a href="Pruebas_escolares_de_HTML"><img src="img/mujer.png" width="50" height="50">Menu inicial</a>
            <a href="index"><img src="img/feminismo.png" width="50" height="50">Home</a>
        </nav>
    </header>

    <div class="wrapper">
        <section>
            <p>El feminismo es un conjunto de movimientos sociales y políticos muy variados. En parte por su larga trayectoria histórica y en parte por la diversidad de tradiciones ideológicas que hay en este, hay muchos tipos de feminismo, algunos de los
                cuales no solo proponen estrategias diferentes de perseguir sus metas, sino que además tienen diferentes objetivos.</p>

        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js
            "></script>
    <script src="js/script.js"></script>
</body>

</html>