<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pagina con una tabla</title>
    <link rel="stylesheet" href="css/estilos1.css">
</head>


<body>

    <header>
        <h1>Pruebas escolares de HTML
            <i>Nancy Gonzalez Alvarez</i></h1>

        <nav>
            <a href="Pruebas_escolares_de_HTML"><img src="img/mujer.png" width="50" height="50">Menu inicial</a>
            <a href="index"><img src="img/feminismo.png" width="50" height="50">Home</a>
        </nav>
    </header>


    <div class="wrapper">
        <section>
            <div id="main-container">
                <table>
                    <tbody>
                        <thead>
                            <tr>
                                <td colspan="3" align="center">VIOLENCIA INFLIGIDA POR LA PAREJA</td>
                            </tr>
                        </thead>

                        <tr>
                            <td>Violencia física</td>
                            <td>Aquella que es evidente y deja una huella en el cuerpo, aunque por lo general incluye acciones que pueden comenzar con un pellizco y continuar con empujones, bofetadas, puñetazos y patadas, pudiendo llegar incluso hasta el
                                feminicidio.</td>
                            <td>En este tipo de violencia está presente el sometimiento del cuerpo de la víctima y los medios utilizados para tal agresión pueden ser armas de fuego, objetos punzocortantes y el cuerpo del agresor: manos, cabeza, pies, piernas.</td>
                        </tr>

                        <tr>
                            <td>Violencia emocional</td>
                            <td>El maltrato emocional/psicológico es un tipo de violencia muy difícil de documentar en el ámbito familiar ya que no deja testimonio físico y no termina con la muerte, al menos de manera inmediata.</td>
                            <td>Las manifestaciones del maltrato emocional pueden ser abarcadas en cinco dimensiones de acuerdo con lo que proponen Julia E. Monárrez Fragoso, Consuelo Cervantes Muñoz, Luciana Ramos Lira y María Teresa Saltijeral</td>
                        </tr>

                        <tr>
                            <td>Violencia sexual</td>
                            <td>Imposición de relaciones sexuales por parte de la pareja masculina. La violencia sexual dentro de la pareja se da cuando el hombre obliga a la mujer a realizar cualquier acto erótico o al sometimiento de prácticas sexuales
                                dolorosas o degradantes en contra de su voluntad.
                            </td>
                            <td>En la violencia sexual también caben los comentarios sarcásticos y denigrantes proferidos por el hombre contra la mujer cuando la acusa de frígida, ninfómana o la obliga a sostener relaciones con otros hombres o con otras mujeres.</td>
                        </tr>

                        <tr>
                            <td>Violencia económica o violencia patrimonial</td>
                            <td>Este tipo de violencia la ejerce quien realiza un acto intencional o por omisión deliberada con el fin de “someter a otra persona mediante el control de determinados recursos materiales –dinero, bienes, valores- que pertenecen
                                al agresor o a la víctima”.</td>
                            <td>Algunos ejemplos frecuentes son: cuando el hombre no aporta ninguna cantidad de dinero o lo hace de manera irregular e insuficiente para la manutención del hogar y de la familia, o cuando el hombre trata a la mujer como su
                                sirvienta.</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js
        "></script>
    <script src="js/script.js"></script>

</body>

</html>