<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pagina con un texto</title>
    <link rel="stylesheet" href="css/estilos1.css">
</head>

<body>

    <header>
        <h1>Pruebas escolares de HTML
            <i>Nancy Gonzalez Alvarez</i></h1>

        <nav>
            <a href="./Pruebas_escolares_de_HTML"><img src="img/mujer.png" width="50" height="50">Menu inicial</a>
            <a href="./index"><img src="img/feminismo.png" width="50" height="50">Home</a>
        </nav>
    </header>


    <div class="wrapper">
        <section>
            <p style="text-align: justify;">La desigualdad y la violencia de género son recurrentes en la historia de las sociedades. Con el avance de los <a href="./movimientos_feministas">movimientos feministas</a> estas cuestiones han adquirido una visibilidad mucho mayor de la que
                tenían hace pocas décadas en gran parte del mundo.</p>

            <p style="text-align: justify;"></p>En este artículo definiremos los distintos tipos de feminicidio, la consecuencia más extrema de la violencia de género, y analizaremos cuáles son sus causas desde una perspectiva psicosocial.</p>

            Artículo relacionado: <a href="./causas_y_efectos">"Las causas y los efectos de la violencia de género"</a><br>

            <br>
            <h3 align="center">¿Qué es el feminicidio?</h3>

            <p style="text-align: justify;">El término “feminicidio” hace referencia a un tipo de homicidio específico en el que un varón asesina a una mujer, chica o niña por ser de sexo femenino. A diferencia de otros tipos de asesinato, los feminicidios suelen ocurrir en el hogar
                como consecuencia de violencia de género. También se categorizan dentro de los crímenes de odio, dado que se dan en un contexto en el que lo femenino ha sido estigmatizado durante años.</p>

            <h3 align="center">Datos y estadisticas</h3>

            <p style="text-align: justify;">Se calcula que cada año se perpetran alrededor de 66 mil feminicidios en el mundo. No obstante, hay que tener en cuenta que el número de casos de violencia de género tiende a infravalorarse y que muchos países no diferencian entre los homicidios
                y los feminicidios.<br>

                <ul>
                    <li type="square">Año 2015 - 411</li>
                    <li type="square">Año 2016 - 602</li>
                    <li type="square">Año 2017 - 741</li>
                </ul><br> Mientras que el 80% de las víctimas de asesinato son hombres, cuando hablamos concretamente de homicidio familiar o íntimo el porcentaje de hombres desciende a un tercio. Este es uno de los factores que explican por qué el feminicidio
                requiere ser distinguido del resto de asesinatos.</p><br>

        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js
        "></script>
    <script src="js/script.js"></script>

</body>

</html>