<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pagina con video</title>
    <link rel="stylesheet" href="css/estilos1.css">
</head>

<body>
    <header>
        <h1>Pruebas escolares de HTML
            <i>Nancy Gonzalez Alvarez</i></h1>

        <nav>
            <a href="Pruebas_escolares_de_HTML"><img src="img/mujer.png" width="50" height="50"></a>Menu inicial
            <a href="index"><img src="img/feminismo.png" width="50" height="50"></a>Home
        </nav>
    </header>

    <div id="video">
        <h1 align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/cY5Co07H3Zw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></h1>
    </div>



</body>


</html>