<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pruebas escolares de HTML</title>
    <link rel="stylesheet" href="css/estilos1.css">
</head>


<body>

    <header>
        <h1>Pruebas escolares de HTML
            <i>Nancy Gonzalez Alvarez</i></h1>

        <nav>
            <a href="./Pagina_con_un_texto">Pagina con un texto</a>
            <a href="./Pagina_con_una_tabla">Pagina con una tabla</a>
            <a href="./Pagina_con_una_imagen">Pagina con una imagen</a>
            <a href="./Pagina_con_un_video">Pagina con un video</a>
        </nav>
    </header>

    <div class="wrapper">
        <section>
            <p>
                <a href="./Pruebas_escolares_de_HTML"><img src="img/mujer.png" width="50" height="50"></a>Menu inicial
            </p>

            <p>
                <a href="./index"><img src="img/feminismo.png" width="50" height="50"></a>Home
            </p>
        </section>
    </div>

</body>

</html>