table {
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}

th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}

td {
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}

tr:hover td {
    background: #d0dafd;
    color: #339;
}

table tr td .delete {
    background: red;
    margin-bottom: 4px;
}

table tr td .update {
    background: rgb(15, 226, 15);
    margin-bottom: 4px;
}

table tr td .delete,
table tr td .update {
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}